In [59]:
import pandas as pd

pd.set_option('display.max_columns', None)
filepath = './../../flights.csv/flights.csv'
result_path = './../Datasets/flights_for_BigML.csv'

df = pd.read_csv(filepath)


def set_delay_type(row):  
    if row['ARRIVAL_DELAY'] <= 15:
        return 'No Delay'
    elif row['ARRIVAL_DELAY'] > 15 and row['ARRIVAL_DELAY'] <= 60:
        return 'Delayed'
    else:
        return 'Heavy Delay'


def set_distance_type(row):  
    if row['DISTANCE'] <= 1500:
        return 'Short'
    elif row['DISTANCE'] > 1500 and row['DISTANCE'] <= 3500:
        return 'Median'
    else:
        return 'Long'


def remove_irrelevant_columns(df):
    columns_to_remove = ['DIVERTED',
                        'CANCELLED',
                        'CANCELLATION_REASON',
                        'AIR_SYSTEM_DELAY',
                        'SECURITY_DELAY',
                        'AIRLINE_DELAY',
                        'LATE_AIRCRAFT_DELAY',
                        'WEATHER_DELAY',
                        'DAY']
    for col in columns_to_remove:
        df.pop(col)
    return df


def remove_unnamed(df):
    for col in df.columns:
        if 'Unnamed:' in col:
            df.pop(col)
    return df


def remove_irrelevant_airports(df, treshold):
    """
    Removes airport rowns from the dict by their numberic value and apearance
    This function purpose is to reduce fie size for BigMl training limits
    """
    values_c = df['ORIGIN_AIRPORT'].value_counts()
    values_c_dict = dict(values_c)
    for k, v in values_c_dict.items():
        if v < treshold:
            df = df[(df['ORIGIN_AIRPORT'].str.contains(k) == False) & (df['DESTINATION_AIRPORT'].str.contains(k) == False)]
    return df


def save_csv(df, path):
    df.to_csv(path)


def preprocess_df(df, path):
    remove_irrelevant_columns(df)
    remove_unnamed(df)
    remove_irrelevant_airports(df)
    save_csv(df, path)
    df['DELAY_TYPE'] = df.apply(lambda row: set_delay_type(row), axis=1)
    df['DISTANCE_TYPE'] = df.apply(lambda row: set_distance_type(row), axis=1)
    return df


# df['DESTINATION_AIRPORT'].value_counts()
# df['ORIGIN_AIRPORT'].value_counts()
# we get ATL   - 346836

# Replace all occurences
# df.replace({'ATL': 'TLV'}, inplace=True)

# Filter out any non TLV flight
# df = df[(df['ORIGIN_AIRPORT'].str.contains('TLV') == True) | (df['DESTINATION_AIRPORT'].str.contains('TLV') == True)]

# airport_replace_dict = {'LGA':'MLA', 'MCO': 'ADD', 'FLL': 'FCO'}

In [60]:

# df.head()
# df.pop('TAXI_IN')
# df['ORIGIN_AIRPORT'].value_counts()
#  or df['DESTINATION_AIRPORT'].str.contains('TLV')==True
# df2 = df[df['AIRLINE'].str.contains('ELY') == True]
# df.to_csv('./../flights.csv/flights.csv')



# df.to_csv('./../flights.csv/flights.csv')

In [61]:
# df[(df['ORIGIN_AIRPORT'].str.contains('TPA') == True) | (df['DESTINATION_AIRPORT'].str.contains('TPA') == True)]
# airport_replace_dict = {'LGA':'MLA', 'MCO': 'ADD', 'FLL': 'FCO'}
# df.replace(airport_replace_dict, inplace=True)
# df['ORIGIN_AIRPORT'].value_counts()
# df = remove_irrelevant_airports(df, 4000)
# df.to_csv(filepath)
# df['ORIGIN_AIRPORT'].value_counts()



df

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,0,0,9,1,1,4,DL,LAS,TLV,30,33.0,3.0,221.0,203.0,186.0,1747,711,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,10,1,1,4,DL,DEN,TLV,30,24.0,-6.0,173.0,149.0,133.0,1199,523,453.0,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,8,8,8,124,1,1,4,DL,DFW,TLV,545,603.0,18.0,124.0,104.0,86.0,731,849,847.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,11,11,11,258,1,1,4,DL,MLA,TLV,600,601.0,1.0,159.0,126.0,111.0,762,839,807.0,-32.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,12,12,12,259,1,1,4,DL,ORD,TLV,600,602.0,2.0,127.0,104.0,80.0,606,907,846.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274313,509787,509787,509787,5818962,12,31,4,AA,LAX,TLV,2300,2256.0,-4.0,253.0,237.0,207.0,1947,613,553.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
274314,509788,509788,509788,5818996,12,31,4,F9,LAX,TLV,2320,2309.0,-11.0,252.0,295.0,211.0,1947,632,704.0,32.0,0,0,NaN,32.0,0.0,0.0,0.0,0.0
274315,509790,509790,509790,5819014,12,31,4,NK,LAS,TLV,2335,2400.0,25.0,230.0,209.0,186.0,1747,625,629.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
274316,509791,509791,509791,5819033,12,31,4,DL,LAX,TLV,2350,16.0,26.0,244.0,229.0,203.0,1947,654,705.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
274317,509792,509792,509792,5819044,12,31,4,F9,DEN,TLV,2355,14.0,19.0,175.0,147.0,130.0,1199,450,441.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
save_csv(df, result_path)